<li class="list-group-item form-component-sample form-component-sample-gallery-image">
  <input type="hidden" class="hidden-input">
  <div class="thumb">
    <div class='thumbnail'>
      <img>
    </div>
  </div>
</li>