<li class="form-component-sample form-component-sample-gallery-image">
  <input type="hidden" class="hidden-input">
  <div class="thumb-image">
    <div class='thumbnail image-miniature'>
      <img>
    </div>
  </div>
</li>