<div class="form-component-sample form-component-sample-Gallery" content-type="Gallery">
  <input type="hidden" class="hidden-input">
  <label><%= t('content_type.gallery') %></label>
  <div class="panel panel-default panel-gallery">
    <div class="panel-heading">
      <%= t('.drop_images') %>
    </div>
    <div class="panel-body panel-gallery">
      <ul class="list-group list-gallery-images">

      </ul>
    </div>
  </div>
  <a class="btn btn-danger destroy-component-button">Destroy</a>
</div>