<div class="form-component-sample form-component-sample-Text" content-type="Text">
    <input type="hidden" class="hidden-input">
  <div class="form-group">
    <label><%= t('content_type.text') %></label>
    <textarea class="form-control"  placeholder="Insert markdown text" cols="30" rows="1"></textarea>
    <br>
    <a class="btn btn-danger destroy-component-button">Destroy</a>
  </div>
</div>