<div class="form-component-sample form-component-sample-Video" content-type="Video">
    <input type="hidden" class="hidden-input">
    <label><%= t('content_type.video') %></label>
    <input type="text" class="form-control" placeholder="Insert YouTube link">
    <br>
    <a class="btn btn-danger destroy-component-button">Destroy</a>
</div>