// Place all the styles related to the Components controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-component-sample {
  display: none !important;
}

.component-video {
  text-align: center;
}

.component-text {
  font-size: 16px;
}

.component {
  padding-top: 15px;
  padding-bottom: 15px;
}

.thumbnail-icon {
  display: inline block;
}